# 4.6 Combining & Exporting Data

### This script contains the following points:

#### 1. Exercise Walk-Through
####    1.1. Importing new dataset as df_ords_prior and Merging Instacart Data
####    1.2. Exporting Data in Pickle Format
#### 2. Task 4.6

## 1. Importing Libraries and Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create Path to import data
path = r'C:\Users\M de Villiers\Desktop\Data Analytics\Acheivement 4\InstaCart_Basket_Analysis_10_01_2022'

In [3]:
# Import Data: Orders
df_ords = pd.read_csv(os.path.join(path, '02_Data', '02_Prepared_Data', 'orders_cleaned.csv'), index_col = False)

In [4]:
# Import Data: Products
df_prods = pd.read_csv(os.path.join(path, '02_Data', '02_Prepared_Data', 'products_checked.csv'), index_col = False)

In [5]:
# Import New Data: Prior Orders
df_ords_prior = pd.read_csv(os.path.join(path, '02_Data', '01_Original_Data', 'order_products_prior.csv'), index_col = False)

In [6]:
# Check new data frame
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Check orders data frame
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [8]:
# Check shape of prior orders
df_ords_prior.shape

(32434489, 4)

In [9]:
# Check shape of orders
df_ords.shape

(3421083, 6)

In [10]:
# Merge df_ords_prior and df_ords
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
# check merged df
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [12]:
df_merged_large.shape

(32434489, 10)

In [13]:
# Check for full match
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
# Merge df_ords_prior and df_ords without indicator (to be exported)
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id')

In [16]:
# Export merged data frame as pkl
df_merged_large.to_pickle(os.path.join(path, '02_Data','02_Prepared_Data', 'orders_products_combined.pkl'))