# Task 4.9. Intro to Data Visualisation with Python

## This Script contains:
### 1. Importing libraries and data 
### 2. Part 1 of Task 4.9

## 1. Importing Libraries & Data

### 1.1 Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### 1.2. Data

In [2]:
# Create a Path
path = r'C:\Users\M de Villiers\Desktop\Data Analytics\Acheivement 4\InstaCart_Basket_Analysis_10_01_2022'

In [3]:
# Import Dataset: 'Customers'
df_cust = pd.read_csv(os.path.join(path, '02_Data', '01_Original_Data', 'customers.csv'), index_col = False)

In [4]:
df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
df_cust.tail()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

In [6]:
df_cust.shape

(206209, 10)

## Part 1 of Task 4.9

### Question 4

In [7]:
# Change name of column 'Surnam'
df_cust.rename(columns = {'Surnam' : 'Surname'}, inplace = True)

In [8]:
# Change name of column 'STATE'
df_cust.rename(columns = {'STATE' : 'State'}, inplace = True)

In [9]:
# Check result
df_cust.head()

,user_id,First Name,Surname,Gender,State,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

### Question 5

In [10]:
# Check quick statistics: all statistics seem plausible
df_cust.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [11]:
# Check for mixed data types
for col in df_cust.columns.tolist():
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cust[weird]) > 0:
    print (col)

First Name

In [12]:
# Change data type: 'First Name'
df_cust['First Name'] = df_cust['First Name'].astype('str')

In [13]:
# Check for missing values
df_cust.isnull().sum()

user_id         0
First Name      0
Surname         0
Gender          0
State           0
Age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [14]:
# Finding duplicates
df_cust_dups = df_cust[df_cust.duplicated()]

In [15]:
df_cust_dups  # There are no duplicates

Empty DataFrame
Columns: [user_id, First Name, Surname, Gender, State, Age, date_joined, n_dependants, fam_status, income]
Index: []

### Question 6

In [16]:
# Import dataset: ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02_Data', '02_Prepared_Data', 'orders_products_merged_4.8.pkl'))

In [17]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,...,reordered,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,avg_spending,spending_flag,order_frequency,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,Mid-range Product,Regularly busy,Most Orders,32,Regular customer,6.935811,Low spender,8.0,frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,Mid-range Product,Regularly busy,Average Orders,32,Regular customer,6.935811,Low spender,8.0,frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,Mid-range Product,Busiest days,Average Orders,5,New customer,7.930208,Low spender,6.0,frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0,Mid-range Product,Least busy days,Most Orders,3,New customer,4.972414,Low spender,9.0,frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,Mid-range Product,Least busy days,Average Orders,3,New customer,4.972414,Low spender,9.0,frequent customer

In [18]:
# Check data type for 'user_id' in 'df_cust'
df_cust['user_id'].dtype

dtype('int64')

In [19]:
# Check data type for 'user_id' in ords_prods_merge
ords_prods_merge['user_id'].dtype

dtype('int64')

In [20]:
# Merge customers and ords_prods on user_id
ords_prods_cust_ind = df_cust.merge(ords_prods_merge, on = 'user_id')

MemoryError: Unable to allocate 1.69 GiB for an array with shape (7, 32404859) and data type object