# Task 4.10: Part 1

## This script contains:
### 1. Importing Libraries & Data
### 2. Part 1 Questions 2-4 of Task 4.10

## 1. Importing Libraries & Data

### Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### Data

In [2]:
# Create path
path = r'C:\Users\botha\Documents\Data Analytics\Acheivement 4\InstaCart_Basket_Analysis_10_01_2022'

In [3]:
# Import dataframe
ords_prods_cust1 = pd.read_pickle(os.path.join(path, '02_Data', '02_Prepared_Data', 'ords_prods_cust_cln_wrngl.pkl'))

In [5]:
ords_prods_cust1.head()

,user_id,First Name,Surname,gender,state,age,date_joined,n_dependants,fam_status,income,...,days_since_prior_order,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,avg_spending,spending_flag,order_frequency,frequency_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,30.0,Mid-range Product,Busiest days,Most Orders,8,New customer,7.988889,Low spender,19.0,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,11.0,Mid-range Product,Regularly busy,Most Orders,8,New customer,7.988889,Low spender,19.0,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,10.0,Mid-range Product,Busiest days,Most Orders,8,New customer,7.988889,Low spender,19.0,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,0.0,Low-range Product,Regularly busy,Most Orders,8,New customer,7.988889,Low spender,19.0,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,30.0,Low-range Product,Least busy days,Most Orders,8,New customer,7.988889,Low spender,19.0,Regular customer

In [7]:
ords_prods_cust1.shape

(32404859, 29)

## Part 1

### Question 2 - Dealing with PII Columns

In [8]:
# Drop PII columns
ords_prods_cust_new = ords_prods_cust1.drop(columns = ['First Name', 'Surname'])

In [9]:
ords_prods_cust_new.head()

,user_id,gender,state,age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,days_since_prior_order,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,avg_spending,spending_flag,order_frequency,frequency_flag
0,26711,Female,Missouri,48,2017-01-01,3,married,165665,196,Soda,...,30.0,Mid-range Product,Busiest days,Most Orders,8,New customer,7.988889,Low spender,19.0,Regular customer
1,26711,Female,Missouri,48,2017-01-01,3,married,165665,196,Soda,...,11.0,Mid-range Product,Regularly busy,Most Orders,8,New customer,7.988889,Low spender,19.0,Regular customer
2,26711,Female,Missouri,48,2017-01-01,3,married,165665,196,Soda,...,10.0,Mid-range Product,Busiest days,Most Orders,8,New customer,7.988889,Low spender,19.0,Regular customer
3,26711,Female,Missouri,48,2017-01-01,3,married,165665,6184,Clementines,...,0.0,Low-range Product,Regularly busy,Most Orders,8,New customer,7.988889,Low spender,19.0,Regular customer
4,26711,Female,Missouri,48,2017-01-01,3,married,165665,6184,Clementines,...,30.0,Low-range Product,Least busy days,Most Orders,8,New customer,7.988889,Low spender,19.0,Regular customer

### Question 3

In [10]:
# Create for-loop for state Regions
result = []

for value in ords_prods_cust_new['state']:
  if value in ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']:
    result.append('Northeast')
  elif value in ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']:
    result.append('Midwest')
  elif value in ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']:
    result.append('South')
  else:
    result.append('West')

In [11]:
# Create new column/variable for for-loop result
ords_prods_cust_new['region'] = result

In [12]:
# b. Create crosstab to analyse spending habits in different regions
crosstab = pd.crosstab(ords_prods_cust_new['region'], ords_prods_cust_new['spending_flag'], dropna = False)

In [13]:
crosstab

spending_flag  High spender  Low spender
region
Midwest              155975      7441350
Northeast            108225      5614511
South                209691     10582194
West                 160354      8132559

I would say, when looking at the total number of spenders (low + high), the proportion of high spenders in the Northeast region is the highest, since they have the least in total but not much less "high spenders" than the other regions. All regions have more "low spenders" than "high spenders".

In [14]:
crosstab.to_clipboard()

### Question 4

In [15]:
# Create Exclusion flag
ords_prods_cust_new.loc[ords_prods_cust_new['max_order'] <5 , 'exclusion_flag'] = 'Exclude'
ords_prods_cust_new.loc[ords_prods_cust_new['max_order'] >=5 , 'exclusion_flag'] = 'Include'

In [16]:
# Check new flag
ords_prods_cust_new['exclusion_flag'].value_counts()

Include    30964564
Exclude     1440295
Name: exclusion_flag, dtype: int64

In [17]:
# Drop 'Exclude' Records
ords_prods_cust_excl = ords_prods_cust_new[ords_prods_cust_new['exclusion_flag'] != 'Exclude']

In [18]:
# Check new df
ords_prods_cust_excl['exclusion_flag'].value_counts()

Include    30964564
Name: exclusion_flag, dtype: int64

In [19]:
# Export new df
ords_prods_cust_excl.to_pickle(os.path.join(path, '02_Data', '02_Prepared_Data', 'orders_products_customers_excl.pkl'))